@import url(https://fonts.google.com/specimen/Montserrat);
@import url(https://fonts.google.com/specimen/Fraunces);

section{
    background-color: hsl(30, 38%, 92%);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 35px;
    font-family: 'Fraunces',sans-serif;
}
p{
    font-family: Montserrat;
}
.price{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
button{
    /* display: flex;
    justify-content: space-around; */
    /* text-align: center; */
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    border: none;
    border-radius: 10px;
}
.container{
    display: flex;
    height: auto;
    
}

.text{
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 30px;
    width: 250px;
}
img{
    content: url(images/image-product-desktop.jpg);
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px ;
    width: 300px;
}
.images{
    width: 15px;
}

@media all and (max-width:900px){
  .container{
    display: flex;
    flex-direction: column;
    width: auto;
  }
  img{
    content: url(images/image-product-mobile.jpg);
    border-top-left-radius: 20px;
    border-top-right-radius:20px ;
    border-bottom-left-radius:0px ;
    height: 200px;
  }
  .text{
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;
    font-size: x-small;
}
h1{
    font-size: 25px;
    font-family: 'Fraunces',sans-serif;
}
